<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>

<main>
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center py-3">
      <div class="col-12 col-sm-12 col-md-10 col-lg-6">
        <img
          src="https://www.kindpng.com/picc/m/330-3306972_walking-dog-cartoon-png-png-download-dog-walker.png"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-12 col-lg-6 col-xl-6">
        <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">
          SOBRE PASEADOG.<small class="text-black text">
            somos un equipo dedicado 100% al bienestar de tu amigo de cuatro
            patas, si estás buscando un paseador, puedes encontrarlo en la
            sección "Paseadores"y si quieres unirte a nuestro equipo no dudes en
            registrarte!</small
          >
        </h1>
      </div>
    </div>
  </div>
  <div class="mostVoted">
    <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">
      Ultimos Paseadores Agregados
    </h1>
    <ul class="cards">
      <% if (walkers.length === 0) { %>
    <h1>No hay Paseadores para mostrar en este momento</h1>
    <% }else{ %> <% walkers.slice(walkers.length -3, walkers.length + 1).forEach(walker =>{ %>
    <li class="cards_item">
      <div class="card">
        <div
          class="card_image"
          style="background-image: url('<%= walker.imgUrl %>')"
        ></div>
        <div class="card_content">
          <h2 class="card_title"><%= walker.name%></h2>
          <p class="card_text">
            <%= walker.description %> mi numero de contacto es <span> <%= walker.phoneNumber %> </span>y me puedes encontrar trabajando en: <h2 class="walkerArea"><%=walker.area %></h2>
          </p>
        </div>
      </div>
    </li>

    <% }) %> <% } %>
    </ul>
  </div>
  
</main>
<%- include("partials/footer.ejs") %>
